/* Start Variables */

:root {
  --Pale-Blue: hsl(243, 100%, 93%);
  --Grayish-Blue: hsl(229, 7%, 55%);
  --Dark-Blue: hsl(228, 56%, 26%);
  --Very-Dark-Blue: hsl(229, 57%, 11%);
}

/* End Variables */
/* Start Global Rules */

a {
  text-decoration: none;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

body {
  font-family: "Raleway", sans-serif;
  background-color: var(--Very-Dark-Blue);
}

/* End Global Rules */
/* Start Background */

.background {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: -10;
}

.background img {
  max-width: 100%;
}

.background img:last-child {
  display: none;
}

@media (max-width: 767px) {
  .background img:first-child {
    display: none;
  }
  .background img:last-child {
    display: block;
  }
}

/* End Background */
/* Start Component */

.component {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 2rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10rem;
  padding-right: 10rem;
  min-height: 100vh;
}

.fst,
.scnd {
  background-color: var(--Dark-Blue);
  padding: 2rem;
  border-radius: 0.5rem;
  position: relative;
}

.fst {
  border-top-right-radius: 6rem;
  width: 50%;
}

@media (max-width: 1023px) {
  .component {
    padding-left: 1.75rem;
    padding-right: 1.75rem;
    flex-direction: column;
    justify-content: center;
  }
  .fst {
    width: 100%;
  }
}

.fst ul {
  display: flex;
  align-items: center;
  gap: 1.25rem;
  margin-top: 2.5rem;
}

.fst ul li {
  background-color: var(--Very-Dark-Blue);
  padding: 0.75rem;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul li img {
  width: 1.5rem;
  height: 1.5rem;
}

@media (max-width: 767px) {
  ul li {
    width: 42px;
    height: 42px;
  }
  ul li img {
    width: 21px;
    height: 21px;
  }
}
.scnd {
  width: 100%;
  position: relative;
}

.scnd h1 {
  color: white;
  text-align: left;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 300;
}

.scnd h1 span {
  font-weight: bold;
}

.scnd .meter {
  margin-block: 14px;
  background-color: var(--Very-Dark-Blue);
  width: 100%;
  height: 1.25rem;
  border-radius: 9999px;
  position: relative;
}

.meter span {
  display: block;
  background: linear-gradient(90deg, hsl(6, 100%, 80%), hsl(335, 100%, 65%));
  border-radius: 9999px;
  width: 75%;
  height: 0.75rem;
  position: absolute;
  left: 0.25rem;
  top: 0.25rem;
}

.meter span::before {
  content: "";
  background-color: white;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  right: 0.2rem;
}

.scnd .range {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-weight: bold;
}

.scnd .left {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: -30px;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  width: 9rem;
  height: 3.5rem;
  border-radius: 0.5rem;
}

@media (min-width: 1024px) {
  .scnd .left {
    top: -30px;
    left: calc(100% - 107px);
  }

  .scnd .left::before {
    content: "";
    position: absolute;
    bottom: -20px;
    right: 0;
    width: 0;
    height: 0;
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
    border-right: 25px solid white;
  }
}

.left h2 {
  font-size: 2.25rem;
  line-height: 2.5rem;
  font-weight: 700;
}

.left h2 span {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
  opacity: 0.75;
}

/* End Component */
